################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Todo_wXUnit_1001/FileContentIndex

# User-specific files

bin

obj

packages


*.user
*.suo
*.log
*.vscode/