@model Todo_wXUnit_1001.Pages.IndexModel


<div id="headMainGrid">

    <div id="leftLogoCell">
        <a asp-page="/Index"><img src="/imgzzz/logo1001.png" /></a>
    </div>

    <div id="rightFormGrid">

        <form  id="formGrid" method="post">
            <div class="form-group">
                <label asp-for="Todo.Title"></label>
                <input asp-for="Todo.Title" class="form-control" />
                <span asp-validation-for="Todo.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Todo.Content"></label>
                <textarea asp-for="Todo.Content" class="form-control"></textarea>
                <span asp-validation-for="Todo.Content" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Todo.IsDone"></label>
                <input asp-for="Todo.IsDone" type="checkbox" />
            </div>

            <button id="saveButton" type="submit" class="btn btn-primary">Save</button>
        </form>

    </div>

</div>