@page
@model Todo_wXUnit_1001.Pages.IndexModel

@{
    ViewData["Title"] = "Todo wXUnit";
}

<body>

    <div id="mainGrid">
        <div id="topGrid">
            <h1>TODO</h1>
        </div>
        <div id="ulGrid">

            @foreach (var todo in Model.Todos)
            {
                <div class="ulGridCell">@todo.Title</div>
            }

        </div>

    </div>

</body>


